#background {
  background-size: cover;
  background-image: url("background-img.png");
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  align-content: space-between;
  justify-content: space-between;
}

#nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
}

.text-container {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

#sdsection {
  color: #36b37e;
}

#welcome {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  display: flex;
}

#description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  display: flex;
}

ul {
  display: flex;
  width: 100%;
  justify-content: center;
  list-style-type: none;
  padding: 10px;
  align-items: baseline;
  gap: 15px;
  margin: 0;
}

.arrow-button {
  width: 40px;
  height: 40px;
}

.button {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  border: 1px solid #dfe1e6;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
