#background {
  background-size: cover;
  background-image: url("background-img.png");
  width: 100%;
  height: 60vh;
}

body {
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  align-content: space-between;
  justify-content: space-between;
}

#nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
}

.text-container {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

#sdsection {
  color: #36b37e;
}

#welcome {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  display: flex;
  padding: 10px;
}

#description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  display: flex;
  padding: 0 10px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 15px;
}

.arrow-button {
  width: 40px;
  height: 40px;
}

.button {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  border: 1px solid #dfe1e6;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* css for the second part of the project */

.works {
  display: grid;
  text-align: center;
  justify-content: center;
}

.recent-works {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.img-wrapper {
  height: 252px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: #ebf0ee;
}

.card {
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  height: 474px;
  width: 327px;
}

ul {
  padding-left: 0;
}

.card-name {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  align-items: center;
  justify-content: center;
}

.technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
}

.tech-tag {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
}

.see-project {
  padding: 12px;
  gap: 10px;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  outline: 0;
  border: 0;
}

.see-project:hover {
  box-shadow: 8px 16px rgba(54, 179, 127, 0.24);
}

.see-project:active {
  background: #008552;
}

.about-me {
  align-items: center;
  text-align: center;
  background-image: url("about-me-background.png"), url("top-right-corner.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, top right;
}

body .about-me-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-me-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.resume-button {
  padding: 12px;
  gap: 10px;
  width: 159px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  border: 0;
}

.resume-button:hover {
  box-shadow: 8px 16px rgba(54, 179, 127, 0.24);
}

.resume-button:active {
  background: #008552;
}

.card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  height: 352px;
  width: 327px;
}

.card-name-2 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #344563;
}

.technologies-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  gap: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex-wrap: wrap;
}

.tech-tag-2 {
  background: #fff;
  border-radius: 8px;
  padding: 11px;
}

.assets-list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

.card-2-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
